/* Container for entries inside calendar boxes */
.entry-container {
    display: flex;
    flex-direction: column;
    background-color: var(--pale-rose);
    width: 100%;
    min-height: 10rem;
    border-radius: 0.75rem;
    padding: 1rem;
    gap: 1rem;
}

/* Styling for individual entries inside calendar boxes */
ul {
    display: flex;
    gap: 0.25rem;
}

.entries {
    display: flex;
    flex-wrap: wrap;
}

.entry {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    list-style: none;
    font-size: 1.25rem;
    padding: 0.75rem 1.5rem;
    border-radius: 5rem;
    width: fit-content;
}
